@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: 'Inter', sans-serif;
} */

html,
body,
#root {
  min-height: 100%;
  background: linear-gradient(
    to bottom right,
    #020617,
    #1e1b4b,
    #000000
  );
}


